/*переменные*/
:root {
    --main-font: "Tahoma", sans-serif;

    --main-text-color: #2f383b;
    --light-text-color: #fff;

    --ui-darkblue-color: #2f383b;
    --ui-blue-color: #4e8598;
}
/* .. переменные*/

/*общие настройки*/
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    font-size: 15px;
    font-weight: normal;
}
h1, h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
}
.btn {
    font-size: 13px;
    font-weight: bold;
    padding: 18px;
    border: 1px solid transparent;
    width: 216px;
    height: 53px;
    text-transform: uppercase;
    border-radius: 28px;
}

.container {
    max-width: 980px;
    padding: 0 20px;
    margin: 0 auto;
}
/* .. общие настройки*/

/*<!--первый экран-->*/
header {
    height: 100vh;
    padding: 54px 0 58px 0;
    background-color: var(--ui-blue-color);
    text-align: center;
    color: var(--light-text-color);
    position: relative;
}

.offer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
}

.offer__title {
    font-size: 27px;
    line-height: 1.407;
    margin-bottom: 29px;
}
.offer__btn {
    border-color: var(--light-text-color);
}
.arrow-down {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}
/*<!-- .. первый экран-->*/









