/*переменные*/
:root {
    --main-font: "Tahoma", sans-serif;

    --main-text-color: #2f383b;
    --light-text-color: #fff;

    --ui-darkblue-color: #2f383b;
    --ui-blue-color: #4e8598;

    --hover-transition: all 0.3s ease;
}

/* .. переменные*/

/*общие настройки*/
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    font-size: 15px;
    font-weight: normal;
    color: var(--main-text-color);
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    font-size: 26px;
    text-align: center;
}

h3 {
    font-size: 22px;
    line-height: 1.5;
}


.btn {
    font-size: 13px;
    font-weight: bold;
    padding: 18px;
    border: 1px solid transparent;
    width: 216px;
    height: 53px;
    text-transform: uppercase;
    border-radius: 28px;
}

.container {
    max-width: 980px;
    padding: 0 20px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .. общие настройки*/

/*<!--первый экран-->*/
header {
    height: 100vh;
    padding: 54px 0 58px 0;
    background-color: var(--ui-blue-color);
    text-align: center;
    color: var(--light-text-color);
    position: relative;
}

/* <!--заголовок-->*/
.offer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
}

.offer__title {
    font-size: 27px;
    line-height: 1.407;
    margin-bottom: 29px;
}

.offer__btn {
    border-color: var(--light-text-color);
    transition: var(--hover-transition);
}

.offer__btn:hover {
background-color: var(--light-text-color);
    color: var(--ui-darkblue-color);
}

/* .. <!--заголовок-->*/

/*<!--стрелка вниз-->*/
.arrow-down {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    animation-duration: 1.75s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: slideUp;
}

@keyframes slideUp {
    0% {
        bottom: 5%;
    }

    50% {
        bottom: 7%;
    }

    100% {
        bottom: 5%;
    }
}

/* .. <!--стрелка вниз-->*/
/*<!-- .. первый экран-->*/

/*<!--секция "обо мне"-->*/
.about {
    padding: 80px 0 76px 0;
}

.about__title {
    margin-bottom: 89px;
}

.content__wrapper {
    align-items: flex-start;
    column-gap: 30px;
}

.content__block_desc {
    max-width: 395px;
}

.content__block_list {
    max-width: 440px;
}

.content__title {
    margin-bottom: 30px;
}

.content__title:after {
    content: '';
    display: block;
    height: 3px;
    width: 72px;
    background-color: var(--ui-blue-color);
}

/*<!--блок "о миссии"-->*/
p.content__text {
    line-height: 1.6;
    letter-spacing: 0.012em;
}

p.content__text + p.content__text {
    margin-top: 35px;
}

/* .. <!--блок "о миссии"-->*/
/*<!--блок "о заслугах"-->*/
.content__list {
    margin-left: -3px;
}

li.content__item {
    justify-content: flex-start;
    column-gap: 20px;
}

li.content__item + li.content__item {
    margin-top: 30px;
}

.content__item:first-child:before {
    content: '';
    width: 39px;
    height: 39px;
    background: url(../img/bug.png) no-repeat center / contain;
}

.content__item:nth-child(2):before {
    content: '';
    width: 39px;
    height: 39px;
    background: url(../img/bell.png) no-repeat center / contain;
}

.content__item:nth-child(3):before {
    content: '';
    width: 39px;
    height: 39px;
    background: url(../img/storm.png) no-repeat center / contain;
}

.content__item:last-child:before {
    content: '';
    width: 39px;
    height: 39px;
    background: url(../img/camera.png) no-repeat center / contain;
}

.content__point {
    font-size: 16px;
    color: var(--ui-blue-color);
    font-weight: bold;
    margin-right: 7px;
}

.content__remark {
    opacity: 0.48;
}

/* .. <!--блок "о заслугах"-->*/

/* .. <!--секция "обо мне"-->*/

/*<!--секция "почему ко мне обращаются"-->*/
.advantages {
    padding: 77px 0 75px 0;
}

.advantages__title {
    margin-bottom: 68px;
}

.adv__list {
    margin-bottom: 64px;
    column-gap: 30px;
}

.adv__digit {
    line-height: 73px;
    margin: 0 auto 18px auto;
    width: 75px;
    height: 75px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid var(--ui-darkblue-color);
    border-radius: 50%;

    transition: var(--hover-transition);
}

.adv__digit:hover {
    background-color: var(--ui-darkblue-color);
    color: var(--light-text-color);
}

.adv__desc {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.action {
    max-width: 405px;
    margin: 0 auto;
}

.action__text {
    font-size: 14px;
    line-height: 1.643;
    text-align: center;
    margin-bottom: 24px;
}

.action__text span {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 181px;
    display: block;
    margin: 0 auto 20px auto;
    line-height: 1;
}

.action__btn {
    display: block;margin: 0 auto;
    border-color: var(--ui-darkblue-color);
    transition: var(--hover-transition);
}
.action__btn:hover {
    color: var(--light-text-color);
    background-color: var(--ui-darkblue-color);
}

/* .. <!--секция "почему ко мне обращаются"-->*/

/*<!--подвал сайта-->*/
footer {
    padding: 50px 0;
    background-color: var(--ui-darkblue-color);
    color: var(--light-text-color);
    font-size: 13px;
}

.footer-wrapper {
    column-gap: 30px;
}

.footer__credits {
    opacity: 0.55;
}
.footer__agreement {
    opacity: 0.9;
    border-bottom: 1px dotted;
    transition: all 0.1s ease;
}

.footer__agreement:hover {
    opacity: 1;
}
/* .. <!--подвал сайта-->*/









