@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 910px) {
    .about__title {
        margin-bottom: 60px;
    }
    .content__wrapper {
        flex-wrap: wrap;
        row-gap: 50px;
    }
    .content__block_desc {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .advantages {
        padding: 50px 0;
    }
    .advantages__title {
        margin-bottom: 50px;
    }
    .footer-wrapper {
        flex-wrap: wrap;

        row-gap: 30px;
        justify-content: center;
    }

}

@media screen and (max-width: 465px) {
    .about {
        padding: 60px 0 50px 0;
    }
    .about__title {
        margin-bottom: 40px;
    }
    .content__remark {
        display: none;
    }

    .adv__list {
        flex-wrap: wrap;
        row-gap: 50px;
        justify-content: center;
    }
}